.DS_Store
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/
/target/

/src/main/resources/static/fonts
/src/main/resources/static/images
/src/main/resources/static/css
/src/main/resources/static/js
/src/main/resources/static/favicon.ico

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr