{{#partial "content"}}
<div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>내용</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#questions}}
                {{^deleted}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/questions/{{id}}">{{title}}</a></td>
                    <td>{{writer.name}}</td>
                    <td>{{contents}}</td>
                </tr>
                {{/deleted}}
                {{/questions}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/partial}}
{{>base}}